<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Login'">

<div layout:fragment="content" style="background-color: #FFFFFF;">
    <div class="container">
<!--        <div class="row">-->
<!--            <h1>sign in page1</h1>-->
<!--            <div class="col-4">-->
<!--                <button type="button" class="btn btn-primary">Primary</button>-->
<!--            </div>-->
<!--        </div>-->
        <form class="row g-3" action="/login" id="signInForm" method="post">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <label for="signInEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="signInEmail" name="signInEmail">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <label for="signInPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="signInPassword" name="signInPassword">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-12 align-items-center">
                <div class="d-flex justify-content-center align-items-center" style="height:100px;">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>
</html>