<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common_fragment/common_fragment :: common_fragment"></th:block>
    <title>Hello, world!</title>
</head>
<body>
<th:block th:replace="common_fragment/header :: header_fragment"></th:block>
<th:block th:replace="auth/signin :: common_boday"></th:block>
<p th:text="${content}"></p>
<th:block th:replace="common_fragment/footer :: footer_fragment"></th:block>

</body>
</html>